# Pandas III

_September 17, 2020_

Agenda today:
- Statistics in Pandas*****
- Groupby in Pandas*****
- Stacking & Unstacking

# Part I. Statistics in Pandas
Pandas allow us to calculate various summary statistics for the dataframe, such as mean, variance, and other descriptive statistics measurements. Let's see some examples.

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option("display.max_columns", None)

In [57]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [58]:
#check the info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       170 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [59]:
# calculate mean beer_servings
df.beer_serving.mean()

AttributeError: 'DataFrame' object has no attribute 'beer_serving'

In [7]:
# calculate summary statistics for all measurements
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [ ]:
# how could we view summary statistics for categorical variable?

In [13]:
# reviewing subsetting and selecting - select the countries on continent AF
df[df.continent == 'AF']['country']
#df.groupby('continent').sum()

2                       Algeria
4                        Angola
18                        Benin
22                     Botswana
26                 Burkina Faso
27                      Burundi
28                Cote d'Ivoire
29                   Cabo Verde
31                     Cameroon
33     Central African Republic
34                         Chad
38                      Comoros
39                        Congo
47                     DR Congo
49                     Djibouti
53                        Egypt
55            Equatorial Guinea
56                      Eritrea
58                     Ethiopia
62                        Gabon
63                       Gambia
66                        Ghana
70                       Guinea
71                Guinea-Bissau
88                        Kenya
95                      Lesotho
96                      Liberia
97                        Libya
100                  Madagascar
101                      Malawi
104                        Mali
107                  Mauritania
108                   Mauritius
114                     Morocco
115                  Mozambique
117                     Namibia
123                       Niger
124                     Nigeria
142                      Rwanda
148         Sao Tome & Principe
150                     Senegal
152                  Seychelles
153                Sierra Leone
158                     Somalia
159                South Africa
162                       Sudan
164                   Swaziland
172                        Togo
175                     Tunisia
179                      Uganda
183                    Tanzania
191                      Zambia
192                    Zimbabwe
Name: country, dtype: object

## Part II. Pandas Groupby
Groupby methods in Pandas allow you to aggregate data and perform operations on them. The method can be summarized as split-apply-combine. The groupby function allow us to split the dataframe into _groups_, apply operations on them, and aggregate a final result. Let's look at some examples.

In [ ]:
# review summary statistics for each continent

In [ ]:
# which continent drinks more beer on average?

In [ ]:
# exercise - which continent drinks more beer than wine?

In [16]:
# you can also groupby multiple columns - which will result in a hierarchical index. 

# read in df from this url https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

# and set the index as user_id
occupations = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep = '|')

In [17]:
occupations.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [22]:
# calculate the mean age per occupation
occupations.groupby(['occupation'])['age'].mean().sort_values(ascending=False)

occupation
retired          63.071429
doctor           43.571429
educator         42.010526
healthcare       41.562500
librarian        40.000000
administrator    38.746835
executive        38.718750
marketing        37.615385
lawyer           36.750000
engineer         36.388060
writer           36.311111
salesman         35.666667
scientist        35.548387
other            34.523810
technician       33.148148
programmer       33.121212
homemaker        32.571429
artist           31.392857
entertainment    29.222222
none             26.555556
student          22.081633
Name: age, dtype: float64

In [27]:
# for each combination of sex and occupation, show the mean age, assigned it to group by age
occupations.groupby(['gender','occupation']).age.mean()

gender  occupation
F       administrator    40.638889
        artist           30.307692
        educator         39.115385
        engineer         29.500000
        entertainment    31.000000
        executive        44.000000
        healthcare       39.818182
        homemaker        34.166667
        lawyer           39.500000
        librarian        40.000000
        marketing        37.200000
        none             36.500000
        other            35.472222
        programmer       32.166667
        retired          70.000000
        salesman         27.000000
        scientist        28.333333
        student          20.750000
        technician       38.000000
        writer           37.631579
M       administrator    37.162791
        artist           32.333333
        doctor           43.571429
        educator         43.101449
        engineer         36.600000
        entertainment    29.000000
        executive        38.172414
        healthcare       45.400000
        homemaker        23.000000
        lawyer           36.200000
        librarian        40.000000
        marketing        37.875000
        none             18.600000
        other            34.028986
        programmer       33.216667
        retired          62.538462
        salesman         38.555556
        scientist        36.321429
        student          22.669118
        technician       32.961538
        writer           35.346154
Name: age, dtype: float64

In [43]:
# exercise - for each occupation, calculate the percentage of female and sort it from high to low
occupations.groupby(['occupation'])['gender'].value_counts(normalize=True)[:,'F'].sort_values(ascending=False)*100
# if you want all of the levels to be togethe you can

occupation
homemaker        85.714286
healthcare       68.750000
librarian        56.862745
artist           46.428571
administrator    45.569620
none             44.444444
writer           42.222222
marketing        38.461538
other            34.285714
student          30.612245
educator         27.368421
salesman         25.000000
lawyer           16.666667
entertainment    11.111111
scientist         9.677419
executive         9.375000
programmer        9.090909
retired           7.142857
technician        3.703704
engineer          2.985075
Name: gender, dtype: float64

## Part III. Stacking & Unstack
Stack and unstack in Pandas provide a way for us to easily manipulate the format of our dataframes. As we see above, the row index can have hierarchy - where one level of index is nested under another. This structure can happen for columns as well. If we want to manipulate the structure of rows and columns, we need to learn stack() and unstack().

**Stack()**

<img src = 'stack.png' width = 450>

**Unstack()**

<img src = 'unstack.png' width = 450>

What you you think is happening here?

In [54]:
# turn group by age from long to wide 
group_by_gender =occupations.groupby(['gender', 'age'])
group_by_gender.occupation.value_counts(normalize=True)*100

gender  age  occupation
F       13   student          100.0
        14   student          100.0
        15   student          100.0
        16   student          100.0
        17   student          100.0
                              ...
M       69   executive         50.0
             librarian         50.0
        70   administrator     50.0
             engineer          50.0
        73   retired          100.0
Name: occupation, Length: 526, dtype: float64

In [55]:
# play around with stacking and unstacking for the above datasets

group_by_gender.unstack()

AttributeError: Cannot access callable attribute 'unstack' of 'DataFrameGroupBy' objects, try using the 'apply' method

#### Optional exercises & level up - the Adult dataset

In [ ]:
# read in the adults dataset 
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults =

In [ ]:
# create a column called income binary, 1 if income >50k 0 otherwise

In [ ]:
# explore the racial distribution of income (you should use stack or unstack here)

# this show allows us to calculate the proportion of people who earned more than 50k by race

In [ ]:
# explore the gender distribution of income (you should use stack or unstack here)

# this show allows us to calculate the proportion of people who earned more than 50k by gender